
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutRest.cshtml";
}

<section id="about" class="home-section text-center mt-4">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>About Us</h2>
                            <i class="fa fa-2x fa-angle-down"> </i>
                            <p class="info-font">Ms. <strong>SUMAN PASSI</strong> is a Licensed Immigration Adviser and Director of <strong>Veracity Immigration Specialists.</strong> She belongs to North India and completed her post graduation from Kurukshetra University.  She attained Graduate Diploma in New Zealand Immigration Advice from Bay of Plenty, New Zealand.</p>
                            <p class="info-font">
                                With Graduate Diploma in New Zealand Immigration Advice and Post Graduate Degree in Business and Commerce, Ms Passi is assisting number of migrant’s applicants and deal with immigration matters in a friendly manner.
                            </p>
                            <p class="info-font">
                                She has experience in dealing with clients from <b>India, Fiji, British, China, Cambodia and Japan.</b>
                            </p>


                            <h2 class="mt-4"> Company’s Mission statement </h2>
                            <p class="info-font">
                                For our clients, we will work hard, provide superior legal services on a timely, effective, and efficient basis, and maintain the highest standards of professional integrity.
                                For our firm, we will foster an enjoyable working environment, based on open communication and mutual respect, and will encourage initiative, innovation, teamwork, and loyalty.
                            </p>

                        </div>
                    </div>
                </div>
             

            </div>
        </div>
    </div>
</section>

