
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutRest.cshtml";
}

<section id="service" class="home-section">

    <div class="container">

        <div class="row marginbot-30"><div class="col-md-12"> <h1 class="text-center">Our Services</h1><img src="~/Content/img/services.jpg" class="img-fluid" /></div></div>

        <div class="row marginbot-50">
            <div class="col-md">
               
                <h2 class="text-center">New Zealand Immigration Services</h2>
                <p class="info-font Montserrat p-5">
                    We Cover a range of New Zealand Immigration Services. Whether you have a few question or you need and Licenced Immigration Adviser to represent your VISA application, VERACITY Immigration will be there to give you a professional services.
                    There are some following list of Visa Categories….
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <h2>Residence</h2>
                <ul class="ul-style">
                    <li>Skilled Migrant</li>
                    <li>Study to residence pathway</li>
                    <li>Work to residence</li>
                    <li>Partnership</li>
                    <li>Parent Category</li>
                    <li> Approval in principal</li>
                    <li> Dependent Child Category</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2> Work Visas</h2>
                <ul class="ul-style">
                    <li>Job Search</li>
                    <li> Family – Partnership category</li>
                    <li> Essential Skills Work Visa</li>
                    <li> Religious Worker visa</li>
                    <li> Specific Purpose or Event</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Other visas and services...</h2>
                <ul class="ul-style">
                    <li> Student Visa   </li>
                    <li>
                        Limited Visa
                    </li>
                    <li>
                        Visitor Visa
                    </li>
                    <li>
                        Visa for Culturally arranged marriage
                    </li>
                    <li>
                        Special Temporary Visas
                    </li>
                    <li>
                        Qualification Assessment - NZQA
                    </li>
                    <li>
                        Section 61
                    </li>
                    <li>
                        Deportation and Compliance
                    </li>
                    <li>
                        Appeals
                    </li>
                    <li>
                        New Zealand Citizenship
                    </li>
                    <li>Translations</li>
                </ul>

            </div>
        </div>

    </div>


    </section>

