
@{
    ViewBag.Title = "ManageBlogs";
    Layout = "~/Views/Shared/_LayoutSecure.cshtml";
}

<div class="container"><div class="row"><div class="col-md-12 mt-5 "></div></div></div>
<div class="container"><div class="row"><div class="col-md-12 mt-5 "></div></div></div>
<div class="container"><div class="row mt-4"><div class="col-md-12"><div class="display-4 text-center">Manage Blogs</div></div></div></div>

<div class="container">

    @Html.Partial("_DisplayBlogsSecure")

</div>

