@if (ViewBag.DocumentMedias != null)
{
    foreach (var doc in ViewBag.DocumentMedias as List<HeroBlaze.Models.DocumentMediaViewModel>)
    {
        <div class="row ">
            <div class="col-md-11 nopadding"><div class="documenttitle bdrtwo">
    <a class="bg-success pad-5" href='@Url.Action("RenderDocument", "Account", new {id = doc.DocumentMediaID})'>@Html.DisplayFor(modeldoc => doc.DocumentName)</a>
</div></div>
            <div class="col-md-1 nopadding">
                <div class="del_aud circle">
                    @using (Html.BeginForm("DeleteDocument", "Account", new { id = doc.DocumentMediaID }))
                    {
                        <input type="submit" class="del_btn" value="X" onclick="return confirm('Are you sure you want to delete @doc.DocumentName')" />
                    }
                </div>

            </div>
        </div>
    }
}

else if(ViewBag.DocumentMedias == null)
{
   <div class="return_zero"><p>no documents</p></div> 
}
