<!--<div class="container">
  <div class="row"><div class="col"><h1 class="text-center">Menu</h1></div></div>

  <div class="row">
    <div class="col">
      <ul class="nav  flex-column">
        <li class="nav-item mt-1">
          <a class="nav-link btn  btn-bg active" href="#">Electricity Bill</a>
        </li>
        <li class="nav-item mt-1">
          <a class="nav-link btn-bg btn" href="#">Gas Bill</a>
        </li>
        <li class="nav-item mt-1">
          <a class="nav-link btn-bg btn" href="#">Internet Bill</a>
        </li>
        <li class="nav-item mt-1">
          <a class="nav-link btn-bg btn" href="#">Water Bill</a>
        </li>
      </ul>
    </div>
  </div>
</div>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-menu">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPolaris" aria-controls="navbarPolaris" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-light"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarPolaris">
    <ul class="navbar-nav flex-column mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Polaris Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>


    </ul>
  
  </div>
</nav>
